body {
  background:lightblue
}

div {
  position: relative;
  top: 20%;
  margin: auto;
  border-radius: 15px;
  background:white;
  height: 675px;
  width: 600px;
}

img {
  
  float:left;
  position: relative;
  top: 100px;
  height: 375px;
  width: 300px;
}

h3 {
  position: absolute;
  top: 2%;
  right: 20%;
  font-size:30px;
}

p {
  
  margin-left: 40px;
  font-size: 28px;
  position: relative;
  top: 100px;
  right: 3%;
  
}

.solution {display:block;position:absolute;top:10px;right:10px;}