body{
  margin:0;
}

/*canvas Class*/
.canvas{
 background-color: black;
 z-index: -1;
 display: none"";
}

/*start Button class*/
.strtBut{
  position: absolute;
  top: 50%;
  left: 49%;
  height: 50px;
  margin: auto;
}

/*ship image class*/
.ship{
 display: none;
}